{
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
	}
	// "extends": [
	// 	"react-app"
	// 	,
	// 	"plugin:react-pug/all"
	// ]
	// ,
	// "plugins": [
  //       "react-pug"
	// ],
	// "rules": {
	// 	"react-pug/no-undef": "off"
	// }
}